@model IEnumerable<Abc.MvcWebUI.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <h2>Yeni Ürün</h2>
    <hr />

    <p>
        @Html.ActionLink("Yeni Ürün", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <hr />
    <table class="table table-border table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/Upload/@item.Image" width="70px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.IsApproved)
                    {
                        <label class="badge badge-success">
                            <i class="far fa-check-circle"></i>
                            Evet
                        </label>

                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="far fa-times-circle"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td>
                    @if (item.IsHome)
                    {
                        <label class="badge badge-success">
                            <i class="far fa-check-circle"></i>
                            Evet
                        </label>

                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="far fa-times-circle"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td width="145px">
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new{@class="btn btn-primary btn-sm"}) 
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id },new {@class="btn btn-danger btn-sm"})
                </td>
            </tr>
        }

    </table>
</div>
