@using Abc.MvcWebUI.Models
@model CardModel
@{
    ViewBag.Title = "Index";
}


<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">

            <h2>Alışveriş Sepeti</h2>
            <hr />
            @if (Model.Cardlines.Count > 0)
            {
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cardlines)
                        {
                            <tr>
                                <td>
                                    <img src="/Upload/@item.Product.Image" width="50px" />
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Product.Name
                                </td>
                                <td>
                                    @item.Product.Price
                                </td>
                                <td>
                                    @((item.Product.Price * item.Quantity).ToString("c"))
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCard", "Card"))
                                    {
                                        @Html.Hidden("Id", item.Product.Id)
                                        <button type="submit" class="btn btn-danger">
                                            <i class="far fa-trash-alt"></i>
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td>@Model.Total().ToString("c")</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-right">
                    <a href="/Home/List" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> Alışverişe Devam Et</a>
                    <a href="/Card/Checkout" class="btn btn-secondary"><i class="fas fa-check"></i> Alışverişi Tamamla</a>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Alışveriş Sepetinizde Ürün Bulunmamaktadır <i class="fas fa-exclamation-circle"></i>
                </div>
            }

        </div>

    </div>
</div>
